# Logs
logs
*.log
*debug.log*
*error.log*

# Folders & Files
node_modules
.DS_Store
dist
dist-ssr
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# Terraform
.terraform*
*.tfstate*
*.tfvars

# Custom files that must be backed up / copied when cloning repos!!
*.env
# telegraf.conf # there is currently no sensitive data inside