---
- name: Update VMs
  hosts: all
  # become: yes # This line tells Ansible to use privilege escalation (sudo) for all tasks | moved this to hosts config
  tasks:
  - name: apt update and upgrade
    apt:
      force_apt_get: true
      update_cache: true
      upgrade: dist # upgrades also dependencies and kernel
      cache_valid_time: 3600
      autoremove: yes # cleans up old kernels/packages