*.homelabtales.com {
	tls /etc/caddy/certs/homelabtales_com-origin-cert.pem /etc/caddy/certs/homelabtales_com-private-key.key

	header -Server
	header {
		# Set the referrer policy to send the origin only when making cross-origin requests.
		Referrer-Policy origin-when-cross-origin
		# Prevent MIME type sniffing, mitigating certain security vulnerabilities.
		X-Content-Type-Options nosniff
		# Enable HSTS (HTTP Strict Transport Security) to force HTTPS for one year including subdomains.
		Strict-Transport-Security max-age=31536000 includeSubDomains
	}

	@ha host ha.homelabtales.com
	handle @ha {
		reverse_proxy ha.lan:8123
		header {
			#
		}
		rate_limit /auth/authorize* {
			zone limit_by_ip {
				key {remote_host}
				events 20
				window 10s
			}
		}
	}

	@audiobook host audiobook.homelabtales.com
	handle @audiobook {
		reverse_proxy nas.lan:30067
		header {
			# Prevent the site from being embedded in an iframe, mitigating clickjacking.
			X-Frame-Options DENY
			# This will deny website access to the listed hardware features for security purposes.
			Permissions-Policy autoplay=(), camera=(), microphone=(), midi=(), usb=()
			# Block XSS attacks to some degree using a report-only CSP.
			Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; connect-src 'self' api.github.com; frame-ancestors 'none';"
		}
		request_body {
			max_size 100MB
		}
		rate_limit /audiobookshelf/login/ {
			zone limit_by_ip {
				key {remote_host}
				events 20
				window 10s
			}
		}
	}

	@dilute host dilute.homelabtales.com
	handle @dilute {
		reverse_proxy hosting-prod.lan:7474
		header {
			# Prevent the site from being embedded in an iframe, mitigating clickjacking.
			X-Frame-Options DENY
			# This will deny website access to the listed hardware features for security purposes.
			Permissions-Policy autoplay=(), camera=(), microphone=(), midi=(), usb=()
			# Block XSS attacks to some degree using a report-only CSP.
			Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' cdn.jsdelivr.net 'unsafe-inline'; img-src 'self' data:; font-src 'self' cdn.jsdelivr.net; connect-src 'self'; frame-ancestors 'none';"
		}
		request_body {
			max_size 100KB
		}
		rate_limit {
			zone limit_by_ip {
				key {remote_host}
				events 10
				window 5s
			}
		}
	}

	@jenkins host jenkins.homelabtales.com
	handle @jenkins {
		reverse_proxy homelab.lan:8080
		header {
			# Prevent the site from being embedded in an iframe, mitigating clickjacking.
			X-Frame-Options DENY
			# This will deny website access to the listed hardware features for security purposes.
			Permissions-Policy autoplay=(), camera=(), microphone=(), midi=(), usb=()
			# Block XSS attacks to some degree using a report-only CSP.
			Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' cdn.jsdelivr.net 'unsafe-inline'; img-src 'self' data:; font-src 'self' cdn.jsdelivr.net; connect-src 'self'; frame-ancestors 'none';"
		}
		request_body {
			max_size 100KB
		}
		rate_limit /login {
			zone limit_by_ip {
				key {remote_host}
				events 20
				window 10s
			}
		}
	}

	@utm-dev host utm-builder-dev.homelabtales.com
	handle @utm-dev {
		basic_auth {
			juronja pass #hash pass first with 'caddy hash-password'
		}
		reverse_proxy homelab.lan:3131
		header {
			# Prevent the site from being embedded in an iframe, mitigating clickjacking.
			X-Frame-Options DENY
			# This will deny website access to the listed hardware features for security purposes.
			Permissions-Policy autoplay=(), camera=(), microphone=(), midi=(), usb=()
			# Block XSS attacks to some degree using a report-only CSP.
			Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' cdn.jsdelivr.net fonts.googleapis.com 'unsafe-inline'; img-src 'self' data:; font-src 'self' cdn.jsdelivr.net fonts.gstatic.com; connect-src 'self'; frame-ancestors 'none';"
		}
		request_body {
			max_size 100KB
		}
		rate_limit {
			zone limit_by_ip {
				key {remote_host}
				events 20
				window 10s
			}
		}
	}

	@utm host utm-builder.homelabtales.com
	handle @utm {
		reverse_proxy hosting-prod.lan:3131
		header {
			# Prevent the site from being embedded in an iframe, mitigating clickjacking.
			X-Frame-Options DENY
			# This will deny website access to the listed hardware features for security purposes.
			Permissions-Policy autoplay=(), camera=(), microphone=(), midi=(), usb=()
			# Block XSS attacks to some degree using a report-only CSP.
			Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' cdn.jsdelivr.net fonts.googleapis.com 'unsafe-inline'; img-src 'self' data:; font-src 'self' cdn.jsdelivr.net fonts.gstatic.com; connect-src 'self'; frame-ancestors 'none';"
		}
		request_body {
			max_size 100KB
		}
		rate_limit {
			zone limit_by_ip {
				key {remote_host}
				events 20
				window 10s
			}
		}
	}

	@icons-app-dev host icons-for-md-dev.homelabtales.com
	handle @icons-app-dev {
		basic_auth {
			juronja pass #hash pass first with 'caddy hash-password'
		}
		reverse_proxy homelab.lan:8402
		header {
			# Prevent the site from being embedded in an iframe, mitigating clickjacking.
			X-Frame-Options DENY
			# This will deny website access to the listed hardware features for security purposes.
			Permissions-Policy autoplay=(), camera=(), microphone=(), midi=(), usb=()
			# Block XSS attacks to some degree using a report-only CSP.
			Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' cdn.jsdelivr.net fonts.googleapis.com 'unsafe-inline'; img-src 'self' cdn.jsdelivr.net; font-src 'self' cdn.jsdelivr.net fonts.gstatic.com; connect-src 'self'; frame-ancestors 'none';"
		}
		request_body {
			max_size 100KB
		}
		rate_limit {
			zone limit_by_ip {
				key {remote_host}
				events 20
				window 10s
			}
		}
	}

	@icons-app host icons-for-md.homelabtales.com
	handle @icons-app {
		reverse_proxy hosting-prod.lan:8402
		header {
			# Prevent the site from being embedded in an iframe, mitigating clickjacking.
			X-Frame-Options DENY
			# This will deny website access to the listed hardware features for security purposes.
			Permissions-Policy autoplay=(), camera=(), microphone=(), midi=(), usb=()
			# Block XSS attacks to some degree using a report-only CSP.
			Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' cdn.jsdelivr.net fonts.googleapis.com 'unsafe-inline'; img-src 'self' cdn.jsdelivr.net; font-src 'self' cdn.jsdelivr.net fonts.gstatic.com; connect-src 'self'; frame-ancestors 'none';"
		}
		request_body {
			max_size 100KB
		}
		rate_limit {
			zone limit_by_ip {
				key {remote_host}
				events 20
				window 10s
			}
		}
	}

	@n8n host n8n.homelabtales.com
	handle @n8n {
		reverse_proxy n8n.lan:5678
		header {
			# Prevent the site from being embedded in an iframe, mitigating clickjacking.
			X-Frame-Options DENY
			# This will deny website access to the listed hardware features for security purposes.
			Permissions-Policy autoplay=(), camera=(), microphone=(), midi=(), usb=()
			# Block XSS attacks to some degree using a report-only CSP.
			Content-Security-Policy-Report-Only "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' cdn.jsdelivr.net fonts.googleapis.com 'unsafe-inline'; img-src 'self' cdn.jsdelivr.net; font-src 'self' cdn.jsdelivr.net fonts.gstatic.com; connect-src 'self'; frame-ancestors 'none';"
		}
		request_body {
			max_size 1000KB
		}
		rate_limit /signin {
			zone limit_by_ip {
				key {remote_host}
				events 20
				window 10s
			}
		}
	}
}

openwebui.lan {
	tls internal

	reverse_proxy openwebui.fromproxy:8080
}

code.lan {
	tls internal

	reverse_proxy code.fromproxy:8080
}